.container {
    display: grid;
    grid-template-areas:
        "menu"
        "filtros"
        "main"
        "footer-mobile";
    grid-template-rows: auto auto 1fr auto;
    gap: 0;
    min-height: 100vh;
    height: auto;
    font-family: sans-serif;
    margin: 0;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

.menu {
    grid-area: menu;
    background-color: #0a5ca8;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.links {
    display: none
}

.sidebar-footer {
    display: none;
}

.filtros {
    grid-area: filtros;
    background-color: #e0e0e0;
    padding: 1rem;
    text-align: center;
    padding: 0.5rem;
}

.filtros p {
    margin: 0;
    margin-bottom: 0.5rem;
}

.filtros select {
    padding: 0.5rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.main {
    grid-area: main;
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.footer-mobile {
    grid-area: footer-mobile;
    background-color: #043664;
    color: white;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-link {
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
}

.grid-item {
    background-color: white;
    border-radius: 3px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease;
    transform: perspective(1000px) rotate(3deg) scale(0.98);
    transform-style: preserve-3d;
}

.grid-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
    filter: grayscale(100%);
    transition: filter 0.6s ease;
    transform: translateZ(5px);
}

.grid-item:hover {
    transform: perspective(1000px) rotate(0deg) scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.grid-item img:hover {
    filter: grayscale(0%);
    transform: scale(1.03);
}

.grid-item button {
    border: none;
    background-color: #0a5ca8;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.grid-item button:hover {
    background-color: #043664;
    transform: translateY(-2px);
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.pagination a {
    margin: 0 !important;
    padding: 0.3rem 0.6rem !important;
    border: 1px solid #0f4d887e;
    text-decoration: none;
    color: #1255b9;
    height: auto;
    white-space: nowrap;
}

.pagination a:not(:last-child) {
    border-right: none; 
}

.pagination a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #7cb3e7; 
}

.pagination a:last-child {
    border-right: 1px solid #7cb3e7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


@media (min-width: 576px) {
    .container {
        grid-template-columns: 250px 1fr;
        grid-template-areas:
        "menu filtros"
        "menu main"
        "menu main";
    grid-template-rows: auto auto 1fr;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }

    .menu h2 {
        padding: 1rem;
        text-align: center;
        margin: 0;
    }

    .hamburguesa {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2.5rem;
        flex-grow: 1;
    }

    .links a {
        display: flex;
        color: white;
        text-decoration: none;
        margin: 0.5rem 0;
        font-size: 1.2rem;
        text-align: center;
    }

    .sidebar-footer {
        display: block;
        padding: 1rem;
        text-align: center;
        background-color: #043664;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-mobile {
        display: none;
    }

    .filtros {
        display: flex;
        padding: 1rem 2rem 1rem;
        text-align: left;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .filtros select {
    width: 100%;
    padding: 0.5rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

    .main {
        padding: 1rem 2rem 2rem 2rem;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }


    .pagination {
        grid-column: 1 / -1;
    }

    .pagination a {
        display: flex;
        align-items: center;
        line-height: 0;
    }

}